.card {
  width: 100%;
  height: 96px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  padding: 16px;
  display: flex;

  &:hover {
    border-color: #428A13;
  }
}

.loadingPhoto {
  height: 64px;
  width: 64px;
  background-color: #A6A6A6;
}

.cardInfo {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.restaurantInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.title,
.moreInfo {
  margin: 0;
}

.moreInfo {
  font-size: 12px;
  color: #A6A6A6;
}

.favorite {
  > span {
    cursor: pointer;
  }
}