.sortButton {
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  padding: 8.25px 12.777px;
  margin-right: 16px;
}

.inactiveButton {
  border-color: #E6E6E6;
  background-color: #FFFFFF;
  color: #808080;

}

.activeButton {
  background-color: #428A13;
  border-color: #428A13;
  color: #FFFFFF;
}


.sortButtonContainer {
  position: relative;
}

.tooltipContainer {
  position: absolute;
  right: 16px;
  bottom: -8px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #808080;
  transform: translateY(100%);
  z-index: 100;
  padding: 16px;
  width: 208px;
  height: 106px;

  @media (max-width: 767px) {
    right: auto;
  }
}

.hiddenTooltip {
  display: none;
}

.visibleTooltip {
  display: block;
}

.sortForm {
  font-size: 14px;
}

.applySort {
  border: 0;
  color: #428A13;
  background-color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#FFFFFF, 0.5);
}

.activeOverlay {
  z-index: 10;
}

.hiddenOverlay {
  display: none;
}